body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #faf6f2;
  overflow-x: hidden;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.logo, .card, .read-the-docs {
  display: none;
}
